@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--space-unit: 16px;
	--space-xxs: calc(0.25 * var(--space-unit));
	--space-xs: calc(0.5 * var(--space-unit));
	--space-sm: calc(0.55 * var(--space-unit));
	--space-md: calc(1.25 * var(--space-unit));
	--space-lg: calc(2 * var(--space-unit));
	--space-xl: calc(3.25 * var(--space-unit));
	--space-xxl: calc(5.25 * var(--space-unit));

	--font-primary: sans-serif;
	--font-secondary: serif;

	/* set base values */
	--text-base-size: 1em;
	--text-scale-ratio: 1.2;

	/* type scale */
	--text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
	--text-sm: calc(1em / var(--text-scale-ratio));
	--text-md: calc(1em * var(--text-scale-ratio));
	--text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xl: calc(
		1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio)
	);
	--text-xxl: calc(
		1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio) * var(--text-scale-ratio)
	);
	--text-xxxl: calc(
		1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio)
	);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
	margin: 0;
	font-family: Roboto;
	font-size: var(--text-sm);
}
p,
ul,
li,
h1 {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}


